* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}

html, body {
    background-color:lightblue;
}

#play-again {
    display: none;
}

#game {
    display: none;
}

#container #choices-container {
    display: flex;
    gap: 30px;

}

.uc {
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}

#rock-btn {
    background: url('./images/rps-rock.png');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}

#paper-btn {
    background: url('./images/rps-paper.png');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}

#scissors-btn {
    background: url('./images/rps-scissors.png');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}